
.main-group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
}

.form-section {
    width: 40%;
}


.title-section {
    font-size: 30px;
}

@media screen and (max-width: 900px) {
    .main-group {
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding-top: 10%;
    }

    .title-section h1 {
        font-size: 50px;
    }
 
    .title-section p {
        font-size: 19px;
    }
    .title-section {
        margin-left: 12%;
        
    }


    .title-section p {
        width: 85%;
        padding-top: 5%;
        text-align: justify;
    } 

    .form-section {
        width: 100%;
        height: 100%;
        padding-top: 5%;
    }
}

/*  @media screen and (max-width: 850px) {
    .title-section h1 {
        font-size: 40px;
    }
}   */